* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background: rgb(55, 41, 16);
    background: radial-gradient(circle, rgba(55, 41, 16, 1) 0%, rgba(0, 0, 0, 1) 100%);
    width: 100vw;
    height: 100vh;
}

.body_left {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 20%;
	background: #010000;
}

.body_right {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 80%;
	background: #232332;
}

audio{
	width: 4em;
	height: 0.8em;
	padding-left: 1em;
}

.audio{
	width: 2em;
	height: 0.5em;
	padding-left: 0.5em;
}

.lyric_box{
	margin: 0.2em auto; 
	left: 2em;
	display: block;
	width: 90%;
	height: 98%;
	background: #303030;
	border-radius: 1em;
	border: 1px solid #444444;
	color: #fff;
	font-size: 2em;
	padding: 1em;
	overflow: scroll;
	overflow-x: hidden;
}

.lyric_box a{
	color: #ee0;
}

.thai_lyrics{
	margin-top: 1em;
}

.english_lyrics{
	font-size: 0.7em;
	color: #909060;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu {
    width: 98%;
    border-radius: 3px;
    overflow: hidden;
}

.item {
    border-top: 1px solid #000;
    overflow: hidden;
    background: #C28C2E;
    color: #222220;
}

.btn {
    display: block;
    padding: 16px 20px;
    background: #C28C2E;
    color: #222220;
    position: relative;
    font-weight: bold;
}

.btn:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #C28C2E;
    left: 20px;
    bottom: -7px;
    transform: rotate(45deg);
}

.btn i {
    margin-right: 10px;
}

.smenu {
    background: #222220;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.smenu a {
    color: #C28C2E;
    display: block;
    padding: 16px 26px;
    font-size: 1.8em;
    margin: 4px 0;
    position: relative;
}

.smenu a:before {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    background: #C28C2E;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
}

.smenu a:hover::before {
    opacity: 1;
}

/*#profile:hover .smenu {
    max-height: 100%;
}*/

.item:target .smenu {
    max-height: 13em;
}